body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:662px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:296px;
  width:375px;
  height:661px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:290px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:296px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:307px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:301px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:333px;
  width:375px;
  height:52px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:336px;
  width:67px;
  height:46px;
  font-size:20px;
  color:#009900;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:336px;
  width:64px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:347px;
  width:24px;
  height:24px;
  color:#009900;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:489px;
  width:361px;
  height:1px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:592px;
  width:361px;
  height:1px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:385px;
  width:375px;
  height:1px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:85px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:392px;
  width:207px;
  height:84px;
  text-align:left;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:498px;
  width:168px;
  height:84px;
  text-align:left;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:290px;
  width:1px;
  height:100px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:107px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:290px;
  width:1px;
  height:106px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:290px;
  width:375px;
  height:1px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:305px;
  width:26px;
  height:14px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:693px;
  width:361px;
  height:1px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:599px;
  width:168px;
  height:84px;
  text-align:left;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:637px;
  width:91px;
  height:33px;
}
#u1076_img.selected {
}
#u1076.selected {
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:635px;
  width:35px;
  height:35px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:530px;
  width:91px;
  height:35px;
  color:#999999;
}
#u1080_img.selected {
}
#u1080.selected {
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:421px;
  width:91px;
  height:35px;
  color:#999999;
}
#u1082_img.selected {
}
#u1082.selected {
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:530px;
  width:35px;
  height:35px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:421px;
  width:35px;
  height:35px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:288px;
  width:375px;
  height:667px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:663px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:290px;
  width:374px;
  height:663px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:288px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:294px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:305px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:299px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:288px;
  width:1px;
  height:48px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:288px;
  width:1px;
  height:95px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:288px;
  width:375px;
  height:1px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:302px;
  width:28px;
  height:15px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:288px;
  width:375px;
  height:667px;
  opacity:0.4;
  font-size:72px;
  color:#000000;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:883px;
  width:50px;
  height:29px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:158px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:331px;
  width:375px;
  height:157px;
  opacity:0.5;
  color:#000000;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:137px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:583px;
  width:343px;
  height:136px;
  opacity:0.5;
  color:#000000;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:339px;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:922px;
  width:64px;
  height:22px;
  opacity:0.5;
  font-size:28px;
  color:#000000;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:60px;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:288px;
  width:375px;
  height:667px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:663px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:290px;
  width:374px;
  height:663px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:288px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:294px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:305px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:299px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:288px;
  width:1px;
  height:48px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:288px;
  width:1px;
  height:95px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:288px;
  width:375px;
  height:1px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:302px;
  width:28px;
  height:15px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:288px;
  width:375px;
  height:667px;
  opacity:0.4;
  font-size:72px;
  color:#000000;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:158px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:331px;
  width:375px;
  height:157px;
  opacity:0.5;
  color:#000000;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:137px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:583px;
  width:343px;
  height:136px;
  opacity:0.5;
  color:#000000;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:339px;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:398px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1114px;
  width:391px;
  height:397px;
  font-size:28px;
  text-align:left;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:387px;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:397px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:1114px;
  width:396px;
  height:396px;
  font-size:28px;
  text-align:left;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:392px;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:397px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:1114px;
  width:375px;
  height:396px;
  font-size:28px;
  text-align:left;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:180px;
  width:438px;
  height:108px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:288px;
  width:31px;
  height:666px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:288px;
  width:33px;
  height:666px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:954px;
  width:438px;
  height:112px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:1066px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:180px;
  width:438px;
  height:108px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:288px;
  width:31px;
  height:666px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:288px;
  width:33px;
  height:666px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:954px;
  width:438px;
  height:112px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:1066px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:188px;
  width:438px;
  height:108px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:296px;
  width:31px;
  height:666px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:296px;
  width:33px;
  height:666px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:962px;
  width:438px;
  height:112px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:1074px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1136px;
  height:10px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:1032px;
  width:1131px;
  height:5px;
  color:#FF0000;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:901px;
  width:240px;
  height:17px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:230px;
  height:31px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:619px;
  width:215px;
  height:5px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:98px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:936px;
  width:22px;
  height:97px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:126px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:912px;
  width:5px;
  height:121px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:903px;
  width:375px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:903px;
  width:94px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:903px;
  width:94px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:903px;
  width:94px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:903px;
  width:94px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:1368px;
  top:903px;
  width:44px;
  height:44px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:903px;
  width:44px;
  height:44px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:903px;
  width:44px;
  height:44px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:903px;
  width:44px;
  height:44px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:947px;
  width:22px;
  height:14px;
  font-size:8px;
  color:rgba(255, 51, 0, 0.898039215686275);
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:949px;
  width:22px;
  height:14px;
  font-size:8px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:949px;
  width:22px;
  height:14px;
  font-size:8px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:949px;
  width:22px;
  height:14px;
  font-size:8px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
